---
import Header from '../components/Header.astro';
import "../styles/global.css";
import KoadroaFull from '../components/KoadroaFull.svelte';
---

<html lang="eu">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Koadroa - Mus Txapelketa</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body class="bg-slate-50 text-slate-900 antialiased">
    <Header showBack={true} />

    <main class="pt-14 w-full max-w-full p-0 h-screen m-0">
      <section id="koadroa-island" class="p-0 m-0 h-full">
        <KoadroaFull client:idle />
      </section>
    </main>
  </body>
</html>
